@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 96.1%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 207 90% 61%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 40% 90%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 210 40% 90%;
    --muted-foreground: 224 71.4% 25%;
    --accent: 207 91% 77%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 85%;
    --input: 0 0% 100%;
    --ring: 207 90% 61%;
    --chart-1: 207 90% 61%;
    --chart-2: 207 91% 77%;
    --chart-3: 224 71.4% 25%;
    --chart-4: 210 40% 90%;
    --chart-5: 224 71.4% 4.1%;
    --radius: 0.5rem;
    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 207 90% 61%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 207 90% 61%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 210 40% 15%;
    --sidebar-ring: 207 90% 61%;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 207 90% 61%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 40% 10%;
    --secondary-foreground: 210 20% 98%;
    --muted: 210 40% 10%;
    --muted-foreground: 210 40% 60%;
    --accent: 207 90% 61%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 15%;
    --input: 210 40% 15%;
    --ring: 207 90% 61%;
    --chart-1: 207 90% 61%;
    --chart-2: 207 91% 77%;
    --chart-3: 210 20% 98%;
    --chart-4: 210 40% 60%;
    --chart-5: 224 71.4% 10%;
    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 207 90% 61%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 207 90% 61%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 210 40% 15%;
    --sidebar-ring: 207 90% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
